/nbproject/project.properties
/nbproject/project.xml
/logging.js
/FPE.log
/eprint.json
/destination/Google Drive/Code/DataImporter/nbproject/private/
/destination/Google Drive/Code/FileProcessingEngine/nbproject/private/
/destination/Google Drive/projects/DataImporter/nbproject/private/
/destination/Google Drive/projects/FileProcessingEngine/nbproject/private/
/watch/Google Drive/Code/Contacts/nbproject/private/
/destination/Google Drive/Code/contactsdb/nbproject/private/
/newtonian_cosmos/nbproject/private/
/tasks/FTPServer.json
/tasks/tasksToRunDetails.json
/tasks/eprint.json
/destination/dumper.json
/watch/dumper.json